<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
		<listener class-name="org.osamaikhlas.testUtils.Listeners"></listener>
	</listeners>
    <test thread-count="5" name="End to End Ecommerce Test">
    <classes>
      <class name="org.osamaikhlas.ECommerce_TestCase_01"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="Error Validation Test">
    <classes>
      <class name="org.osamaikhlas.ECommerce_TestCase_02"/>
    </classes>
  </test>
  <test thread-count="5" name="IOS App Tests">
    <classes>
      <class name="org.osamaikhlas.IOSBasics"/>
    </classes>
  </test> 
  <!-- Test -->
 <!-- Test -->
</suite> <!-- Suite -->
